<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto text-center">
            <i class="fas fa-microphone" style="font-size: 2em;"></i>
            <h4>음성 위변조 탐지 포렌식</h4>
            <div class="card card-body text-center">
                <h1 class="text-center mb-3">Login or Register</h1>
                <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
                <a href="/users/register" class="btn btn-secondary btn-block">Register</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
